@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4 text-danger">Bienvenidos</h1>
    <br />
    <a asp-controller="Trabajadores" asp-action="Index" class="btn btn-danger">Iniciemos</a>
</div>
